In [1]:
import pandas as pd
import xlsxwriter

### 1. Write dataframe as a table in excel

In [2]:
d_ = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])

In [3]:
d_

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

In [4]:
headers=[{"header" : i} for i in list(d_.columns)]

workbook=xlsxwriter.Workbook('outputs/table.xlsx')
worksheet1=workbook.add_worksheet()
worksheet1.add_table(0, 0, len(d_), len(d_.columns)-1, {"columns":headers, "data":d_.values.tolist()})
workbook.close()

----

In [5]:
def create_table(df, writer, sheet_name):
    
    workbook = writer.book
    worksheet = writer.sheets[sheet_name]
    
    (max_row, max_col) = df.shape
    column_settings = [{'header': column} for column in df.columns]
    worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

In [6]:
with pd.ExcelWriter("outputs/xltable.xlsx") as writer:
    
    sheet_name = "Sample Table"
    d_.to_excel(writer, sheet_name=sheet_name, index=False)
    create_table(d_, writer, sheet_name)